<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 30px;
            /* float: left; */
            /* flex-direction: column; */
        }
    
        .footer-text {
            margin: 0;
            font-size: 18px;
            /* color: black; */
            float: left;
            width: fit-content;
        }
    
        .item {
            float: right
        }
    
        .footer-item {
            margin: 0 5px;
        }
    </style>
</head>
<body>
    <nav class=" footer navbar justify-content-center navbar-expand navbar-dark bg-dark mt-auto flex-grow-1 ">
    
        <p class="footer-text mr-auto">
            Copyright by AnhLee
        </p>
        <div class="item">
            <a class="footer-item" href=""><i class="fa-brands fa-facebook fa-xl text-white"></i></a>
            <a class="footer-item" href=""><i class="fa-brands fa-telegram fa-xl text-white"></i></a>
            <a class="footer-item" href=""><i class="fa-brands fa-github fa-xl text-white"></i></a>
            <a class="footer-item" href=""><i class="fa-brands fa-github fa-xl text-white"></i></a>
        </div>
    </nav>
</body>
</html>