<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc Share</title>
    <script src="https://kit.fontawesome.com/893b9b0466.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">  
    <link rel="shortcut icon" href="image/favicon.png" type="image/x-icon">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        {{> header}}
    </div>
    {{{body}}}
    <div class="footer">
        {{> footer }}
    </div>
</body>
</html>