<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc Share</title>
    <script src="https://kit.fontawesome.com/893b9b0466.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="shortcut icon" href="image/favicon.png" type="image/x-icon">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .root {
            margin-top: 100px;
        }
    
        .main {
            margin: 30px auto;
            padding: 10px;
            max-width: 700px;
            max-height: 500px;
            border: 1px rgba(101, 101, 240, 0.5) solid;
            border-radius: 10px;
            display: flex;
            /* flex-direction: row; */
            justify-content: center;
        }
    
        .form-input {
            width: 500px;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>